/* header */
header {
    margin : 0;
    padding : 0;
    position : fixed;
    top : 0;
    width: 100%;
    height: 100px;
    background-color: #2e2e35;
    color:white;
    border-bottom : solid  #f27900 2px;
}
h1 {
    color : #f27900;
}
#m-left p {
    position : relative;
    bottom: 20px;
    left : 25px;
}
#m-right {
    width: 50%;
    display : inline-grid;
    text-align: center;

}
#m-right p {
    width: 20%;
    display : inline-grid;
    text-align: center;
}
#m-left {
    width : 50%;
    float : left;

}
li {
    display : inline-grid;
    width : 20%;
    text-align: center;
}

/* body */
body {
    background-color: black;
    margin: 0px;
    color: white;
}
h2 {
    color :  #f27900;
}
hr {
   color : #f27900;
   width : 80%;
}
:is(section#accueil, section#utilisateur, section#moderation, section#publicate, section#page, section#reload, section#mentions, section#publicate ){
    margin-top : 150px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
section#utilisateur{
    text-align: center;
}


.pAcc {
    overflow-y: hidden;
    height: 50px;
}
#comForm {
    display: flex;
    flex-direction: column;
}
#comFormPseudo {
    width : 45px;
    text-align: center;
}
#comFormText {
    width : 60%
}
#comFormPublier {
    width : 50px;
}
div.gestionU {
    display: inline-grid;
    width: 35%;
    text-align: center;
}
a {
    color:white; 
    text-decoration : none;
}
.articleLienA{
    margin-top: 10px;
    display: inline-grid;
}
.articleLienA :hover {
    color: #f27900;
    text-decoration: #f27900;
    text-decoration-line: underline;
}
:is(.articleAcc, .commMod, section#article, div.commArticle, div.reload , section#mentions, section#SecComForm) {
    margin : 15px;
    background-color: #2e2e35;
    padding : 15px;
}
section#mentions {
    margin : auto;
}
section#publicate {
    padding:15px;
    background-color: #2e2e35;
}
.btnMod :hover {
    
    border-radius: 90px;
    background-color: black;
    color: #f27900;
    text-decoration: #f27900;
    text-decoration-line: underline;
   
}
.btn{
    background-color : #f27900;
    width : 100px;
    height: 30px;
    border-radius : 90px;
    text-align: center;
}
li.btnli :hover{
    color: #f27900;
    text-decoration: #f27900;
    text-decoration-line: underline;
   
}
.report {
    display : grid;
    width : 200px;
}
.btnA {
    padding-top: 5px;
    color : white;
}
.commMod {
    margin : 15px;
}
#footer{
 
    clear: both;
    position: absolute;
    height: 2.5em;
    margin-top: -2.5em;
    bottom: 0;
}
#page-container{
    min-height: 100vh;
    position:relative;
}
section{
    padding-bottom: 2.5em;
}   
#up{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #f27900;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.fa-arrow-up {
    position: relative;
    bottom: -6px;
    right: -8px;
}
@media screen and (max-width: 740px) {
    
     header li{
         
         width : 100%;
         padding : 5px;
     }
     header p {
         display: none;
     }
     #m-right p {
        display: none;
     }
}